<template>
    <div>
        <div class="chats-list">
            <a class="chatroom" href="#" v-for="chatroom in chatrooms" v-on:click="update(chatroom.chatroom_id)">
                <div class="man-block inline size-xxs text-left">
                    <div class="left">
                        <p v-if="chatroom.userAvatar">
                            <img :src="chatroom.userAvatar.path" :alt="chatroom.userAvatar.alt">
                        </p>
                        <p v-else>
                            <svg viewBox='0 0 51 79' xmlns='http://www.w3.org/2000/svg'>
                                <path d='M50.2347 69.702V77.3785C50.2347 78.0961 49.6878 78.678 49.0132 78.678C48.3387 78.678 47.7917 78.0961 47.7917 77.3785V69.702C47.7917 63.7252 43.2456 58.888 37.6272 58.8882C34.9689 58.8882 32.5569 57.4474 31.1752 55.0338C30.8241 54.4209 31.0067 53.6214 31.5828 53.2479C32.1587 52.8743 32.9104 53.0688 33.2614 53.6817C34.1963 55.3143 35.8283 56.289 37.6272 56.289C44.5952 56.289 50.2347 62.2879 50.2347 69.702ZM29.8561 59.6392L25.5001 63.227L18.0938 57.1265C19.6925 55.7602 20.7263 53.7729 20.8938 51.5158C22.3554 51.9736 23.9012 52.2203 25.5002 52.2203C34.5085 52.2203 41.8373 44.4232 41.8373 34.8392C41.8373 34.7382 41.8394 25.7406 41.8333 25.6399C41.7918 24.9368 41.2408 24.4227 40.6158 24.4227C40.4066 24.4227 38.9017 24.7395 37.4284 23.7965C35.1309 22.3259 35.1191 19.1024 35.1193 19.0701C35.1252 18.0143 34.003 17.3911 33.1921 18.0014C28.1609 21.7907 22.2698 24.3602 15.8729 25.3129C15.2049 25.4125 14.739 26.0692 14.8326 26.78C14.9181 27.4298 15.4412 27.8996 16.0408 27.8996C16.2332 27.8996 20.1938 27.3838 24.6959 25.6441C27.5966 24.5233 30.3759 23.0606 32.9817 21.2853C33.8821 24.8795 36.407 26.879 39.3945 27.0594V34.8392C39.3945 42.9901 33.1617 49.6213 25.5004 49.6213C17.8391 49.6213 11.6063 42.9901 11.6063 34.8392V25.7224C11.6063 25.0047 11.0594 24.4229 10.3848 24.4229C9.71028 24.4229 9.16337 25.0047 9.16337 25.7224V34.8394C9.16337 41.7499 12.974 47.731 18.477 50.5303V50.8731C18.477 53.8686 16.1953 56.289 13.3733 56.289C11.828 56.289 10.3054 56.5864 8.86519 57.1722L8.07658 56.5044C1.88821 51.2642 0.729192 42.0135 4.94949 35.2737C6.74809 32.4013 7.78923 28.9657 7.78923 25.2898V18.2508C7.78923 10.01 14.0906 3.30559 21.836 3.30559H29.1648C36.9102 3.30559 43.2116 10.0097 43.2116 18.2501V25.2892C43.2116 28.8646 44.1889 32.31 46.0379 35.2526C49.4195 40.6344 49.4128 47.6978 45.9186 53.0922C45.5359 53.6831 45.6757 54.4924 46.2312 54.8996C46.7866 55.3067 47.5471 55.1579 47.9299 54.567C51.9975 48.2878 52.0023 40.0685 48.0687 33.8082C46.4892 31.2944 45.6543 28.3487 45.6543 25.2892V18.2501C45.6543 8.57663 38.257 0.706543 29.1646 0.706543H21.8359C12.7435 0.706543 5.34616 8.57695 5.34616 18.2508V25.2892C5.34616 28.3398 4.50595 31.2941 2.91606 33.833C-2.00871 41.6987 -0.61304 52.3964 6.47769 58.4706C2.99439 60.9017 0.765683 65.0302 0.765683 69.702V77.3785C0.765683 78.0961 1.31259 78.678 1.98714 78.678C2.66169 78.678 3.2086 78.0961 3.2086 77.3785V69.702C3.2086 63.725 7.75472 58.888 13.3731 58.8882C14.1827 58.8882 14.9824 58.7516 15.7493 58.4824L24.7524 65.898C25.1927 66.2606 25.8078 66.2606 26.2479 65.898L31.3517 61.6942C31.8851 61.2548 31.9827 60.4387 31.5697 59.8711C31.1568 59.3039 30.3898 59.1998 29.8561 59.6392Z'/>
                            </svg>
                        </p>
                        <div class="about">
                            <p>{{chatroom.userName}}</p>
                            <small>Онлайн</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="chat-window">
            <p><a :href="message.opponent_link"><b>{{message.opponent}}</b></a>
                <span class="online" v-if="message.status=='online'">Онлайн</span>
                <span class="offline" v-if="message.status=='offline'">Офлайн</span>
            </p>
            <button class="dark-list">
                <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.95 2.05027C9.21628 -0.683425 4.7844 -0.683425 2.05052 2.05027C-0.683181 4.78397 -0.683181 9.21585 2.05052 11.9497C4.78422 14.6834 9.21609 14.6834 11.95 11.9497C14.6837 9.21602 14.6837 4.78415 11.95 2.05027ZM10.0426 2.72041L2.72083 10.042C1.25949 7.99173 1.44865 5.12714 3.28811 3.28768C5.12757 1.44822 7.99233 1.25906 10.0424 2.7204H10.0426V2.72041ZM11.28 3.95763C12.7412 6.00791 12.552 8.87268 10.7124 10.712C8.87311 12.5516 6.00833 12.7409 3.95806 11.2794L11.2798 3.95763H11.28Z"/>
                </svg>
            </button>
            <hr>
            <div class="mess-list">
                <div class="scroll-block">
                    <div v-for="messages in message.messages">

                        <div class="message text-right" v-if="messages.user_id==user.id">
                            <p>Вы</p>
                            <div class="text">
                                <p>{{ messages.text }}</p>
                            </div>
                        </div>
                        <div class="message text-left" v-if="messages.user_id!=user.id">
                            <p>{{message.opponent}}</p>
                            <div class="text">
                                <p>{{ messages.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="write">
                <textarea placeholder="Напишите сообщение" id="text" v-model="textMessage"></textarea>
                <button class="btn btn-default" @click="sendMessage(message.chatroom_id)">Отправить</button>
            </div>
        </div>
    </div>

</template>

<script>
import Echo from "laravel-echo";

export default {
    props:[
        'first',
        'user',
        'chatrooms'
    ],
    data:function(){
        return {
            message:[],
            textMessage:[]
        }
    },
    mounted() {
        this.update(this.first)
    },
    methods:{
        update:function (id) {
            axios.post(window.location.origin+'/cabinet/message/'+this.user.id+'/chatroom',{
            room_id:id
            }).then((response)=>{
                this.message=response.data;
                console.log(this.message)
            });

            window.Echo.private('room.'+id)
                .listen('PrivateChat',
                    ({data})=>{
                        this.message.messages.push({user_id:data.user_id,text:data.text})
                    })
                .listenForWhisper('typing', e => {
                    this.isActive = e;
                    if (this.typingTimer) clearTimeout(this.typingTimer);
                    this.typingTimer = setTimeout(() => {
                        this.isActive = false;
                    }, 2000);
                });
        },
        sendMessage(room_id){
            axios.post('/message/'+this.user.id,{
                text:this.textMessage,
                room_id:room_id,
                user_id:this.user.id
            }).then((response)=>{
                console.log(response.data);
            });
            this.message.messages.push({user_id:this.user.id,'text':this.textMessage})
            this.textMessage='';
        }
    }
}
</script>

<style scoped>

</style>
