<template>
    <section class="content">
        <div class="container">
            <div class="w-back">
                <h1>Регистрация</h1>
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="input-group required">
                            <label class="input-label">Являюсь</label>
                            <div class="radio-group" data-toggle="buttons">
                                <label class="btn btn-lg active">
                                    <input type="radio" name="face" value="individual" checked> Физ<span class="hidden-xs">ическим</span> лицо<span class="hidden-xs">м</span>
                                </label><label class="btn btn-lg">
                                <input type="radio" name="face" value="entity"> Юр<span class="hidden-xs">идическим</span> лицо<span class="hidden-xs">м</span>
                            </label>
                            </div>
                        </div>
                        <img class="loader" src="svg/loader.svg" alt="">
                        <div id="loaded-form">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "RegisterTabComponent"
}
</script>

<style scoped>

</style>
