//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  padding-left: 0; // Override default ul/ol
  margin-bottom: 0;
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      opacity: 0.6;
      span{
        margin-left: 5px;
        color:$brand-primary;
      }
      &:hover,
      &:focus {
        opacity: 0.6;
        cursor: $cursor-disabled;
        color: $text-color;
        span{
          color:$brand-primary;
        }
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {
    a{
      border:1px solid;
      border-radius: $border-radius-xlarge;
      float: left;
      padding: $padding-large-vertical $padding-large-horizontal;
      font-size: $font-size-base;
      text-shadow: none;
      margin-left: 0;
      border-color: lighten($brand-primary, 28%);
      background: $btn-white-bg;
      @media (max-width: $screen-md-max) {
        padding:15px;
      }
      @media (max-width: $screen-sm-max) {
        border-radius: 0;
        padding:5px;
      }
      &:hover,&:focus{
        text-decoration: none;
      }
    }
    &.active{
      a{
        box-shadow: none;
        background: lighten($brand-primary, 28%);
        color: $brand-primary;
      }
    }
    &:not(.active):not(.disabled){
      a:hover{
        color: inherit;
        background: lighten($brand-primary, 31%);
      }
    }
    &.disabled{
      a:hover{
        background: $btn-white-bg;
      }
    }
    &:first-child{
      a{
        margin-right: -1px;
        @include border-right-radius(0);
      }
    }
    &:last-child{
      a{
        @include border-left-radius(0);
      }
    }
    &:not(:first-child):not(:last-child){
      a{
        margin-right: -1px;
        border-radius: 0;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: $nav-pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-pills-active-link-hover-color;
        background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  @media (max-width: $screen-sm-max) {
    text-align: center;
    margin-bottom: 30px;
  }
  > li {
    float: none;
    @media (max-width: $screen-sm-max) {
      float: left;
    }
    &::before{
      content:'';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      left: 0;
      top: 3px;
      border-radius: $border-radius-large;
      @include gradient-horizontal-three-colors(lighten($brand-primary, 10%), lighten($brand-info, 5%), 50%, lighten($brand-light-green, 25%));
    }
    &.active{
      a{
        opacity: 1;
      }
      &::before{
        opacity: 1;
      }
    }
    a{
      position: relative;
      padding: $padding-large-vertical ceil($padding-large-horizontal - 2px);
      background:$body-bg;
      border-radius: $border-radius-large;
      opacity: 0.6;
      @media (max-width: $screen-md-max) {
        padding: 15px 10px;
      }
      @media (max-width: $screen-xxs-max) {
        padding: 7px;
      }
      &:hover{
        color:$text-color;
        text-decoration: none;
        opacity: 1;
      }
      svg{
        fill:$brand-primary;
        margin-right:20px;
        display: inline-block;
        vertical-align: middle;
        @media (max-width: $screen-md-max) {
          margin-right:10px;
        }
        @media (max-width: $screen-xxs-max) {
          display: block;
          margin:auto;
          margin-bottom: 5px;
          height: 20px;
        }
        &.message{
          stroke: $brand-primary;
        }
      }
    }
    + li {
      margin-top: 20px;
      margin-left: 0; // no need for this gap between nav items
      @media (max-width: $screen-sm-max) {
        margin-top: 0px;
        margin-left: 10px;
      }
      @media (max-width: $screen-xxs-max) {
        margin-left: 5px;
        max-height: 52px;
      }
      @media (max-width: $screen-xxs-min) {
        max-width: calc(48% - 5px);
        max-height: none;
      }
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
      max-height: 50px;
      margin-left: 10px;
    }
    @media (max-width: $screen-xxs-max) {
      max-height: 52px;
      margin-left: 5px;
      
    }
    @media (max-width: $screen-xxs-min) {
      max-width: calc(48% - 5px);
      max-height: none;
    }
  }
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}
